@{
    ViewBag.Title = "Demo";
}
@model IEnumerable<TINTOMTAT.Models.PostPortalViewModel.PostViewModel>

<div id="about" class="section-cotent">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row">
                    @Html.Action("LeftMenuPartial", "Home")
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="our-team">
                        @foreach (var item in Model)
                        {
                            var url = "/" + item.Alias + ".html";
                            <div class="col-md-4 col-sm-6" style="margin-bottom:10px;">
                                <a href="@url">
                                    <div class="team-member">
                                        <div class="member-img" style="height:200px">
                                            <img src="@item.Image" alt="Tracy" style="height:200px; object-fit:cover">
                                        </div>
                                        <div class="inner-content" style="height: 180px; ">
                                            <h1>@item.PostName</h1>
                                            <span>Lượt xem  @item.View - @item.CreatedDate.ToString("dd/MM/yyyy")</span>
                                            <p style="height: 55px; overflow: hidden;">@item.ShortContent</p>
                                        </div>
                                    </div> <!-- /.team-member -->
                                </a>
                            </div> <!-- /.col-md-4 -->
                        }
                    </div>
                </div>
            </div>
            <!-- /.our-team -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#about -->


<div id="portfolio" class="section-content">
    <div class="container">
        <div class="title-section text-center">
            <h2>Nổi bật</h2>
            <span></span>
        </div> <!-- /.title-section -->
        <div class="row">
            @{
                foreach (var item in ViewBag.PostHot as IEnumerable<TINTOMTAT.Models.PostPortalViewModel.PostViewModel>)
                {
                    var url = "/" + item.Alias + ".html";

                    <div class="col-md-3 col-sm-6" style="margin-bottom:75px;">
                        <a href="@url">
                            <div class="portfolio-thumb">
                                <img src="@item.Image" alt="Portfolio Item 1" style="height:200px; object-fit:cover">
                                <h1> @item.PostName</h1>
                                <div class="overlay">
                                    <div class="inner">
                                        <h4>@item.PostName</h4>
                                        <span><i class="fa fa-eye"> </i> @item.View</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                }
            }
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</div> <!-- /#portfolio -->